@model MCE.Models.tblInventory
@using (@Html.BeginForm("SaveInventory", "App", FormMethod.Post, new { @id = "SaveInventoryForm", enctype = "multipart/form-data", @data_toggle = "validator" }))
{
    @Html.AntiForgeryToken()
    <div class="">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-sm-12 nopadding">
            <div class="col-sm-12">
                <label class="col-sm-6">PC Model:</label>
                <div class="col-sm-6">@Html.DisplayFor(model => model.name)</div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-sm-12">
                <label class="col-sm-6">Asset Tag:</label>
                <div class="col-sm-6">@Html.DisplayFor(model => model.asset)</div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-sm-12">
                <label class="col-sm-6">Username:</label>
                <div class="col-sm-6">@Html.DisplayFor(model => model.username)</div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-sm-12">
                <label class="col-sm-6">TightVNC Service:</label>
                <div class="col-sm-6">@Html.DisplayFor(model => model.tight)</div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-sm-12">
                <label class="col-sm-6">Description:</label>
                <div class="col-sm-6">@Html.DisplayFor(model => model.description)</div>
            </div>
            <br />
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-white waves-light" onclick="CloseModal('view-modal')">Close</button>&nbsp;
                </div>
            </div>
        </div>
    </div>
}
